// MIXINS
@mixin text($font, $size, $weight: 400, $style: normal) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  font-style: normal;
}

@mixin box($dir,
  $justify,
  $align,
  $padding: 0px,
  $margin: none,
  $background: none) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
  padding: $padding;
  background: $background;
  margin: $margin;
}

// INCLUDED FONTS
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap');

// FONTS
// $roboto: 'Roboto', sans-serif;
$bulmaDefault: BlinkMacSystemFont,
-apple-system,
'Segoe UI',
Roboto,
Oxygen,
Ubuntu,
Cantarell,
'Fira Sans',
'Droid Sans',
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;
// COLORS
$mattBlack: #333;
$offWhite: #e2e2e2;
$darkWhite: #ccc;
$lightGrey: #c4c4c4;

body {
  margin: 0px;
  padding: 0px;
}

header {
  @include box(row, space-between, center, 20px 40px, 0, $offWhite);
  width: 100%;
  box-sizing: border-box;
}

.site-name {
  @include text($bulmaDefault, 28px, 500);
  text-transform: lowercase;
  padding: 4px 0px 8px 0px;
}

.main-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

footer {
  margin-top: auto;
}

.login-page {
  @include box(column, center, center);
  width: 100%;
}

.form-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background: #333;
}

.form-right,
.form-left {
  width: 100%;
  background: #fff;
  padding: 20px;
}

@media (min-width: 960px) {

  .form-right,
  .form-left {
    max-width: 700px;
  }
}

.form-right {
  margin-left: auto;
}

.form-left {
  margin-right: auto;
}

.legend {
  font-family: $bulmaDefault;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 4px;
  text-align: center;
  color: #333;
  margin: 5px 0px 35px 0px;
}

.footer {
  padding: 20px 0px;
}

.input::placeholder {
  color: #333 !important;
}

.button.sm {
  font-size: 14px !important;
  font-weight: bold;
  padding: 0px 10px;
  border-radius: 4px;
}

.is-instagram {
  margin: auto;
  padding: 15px 30px;
  display: block;
  background-color: #fff;
  color: #e33e5c;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s;
  border: 1px solid #e33e5c;

  &:hover {
    background: #e33e5c;
    color: #fff;
    transition: all 0.3s;
  }

  display: flex;
  flex-direction: row;
  align-items: center;

  span {
    padding: 0px 10px;
    margin-left: auto;
  }

  i {
    color: #e33e5c;
  }
}

.options {
  @include box(row, space-around, center, 0px, 0, none);
}
.option {
  padding: 10px 20px;
  width: 100%;
  // margin: 5px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}